<nav class="navbar container-fluid row navbar-expand-lg navbar-light">
    <div class="col-md-3">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
    <div class="collapse navbar-collapse col-md-5 justify-content-end" id="navbarSupportedContent">
        <div class="nav-menu ">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">
                        <img class="bell-icon" src="../../../assets/images/Bell icon.png" alt="">
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>