<div class="card main-card p-4">
  <div class="row">
    <div class="page-title"></div>
    <div class="page-desc"></div>
  </div>
  <div class="row">
    <div class="col-md-3 col-lg-3 col-sm-12">
      <div class="card">
        <div class="card-body d-flex flex-column align-items-center">
          <div class="title">123</div>
          <div class="desc">Total Stationay Combustion</div>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-lg-3 col-sm-12">
      <div class="card">
        <div class="card-body d-flex flex-column align-items-center">
          <div class="title">123</div>
          <div class="desc">Total Mobile Combustion</div>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-lg-3 col-sm-12">
      <div class="card">
        <div class="card-body d-flex flex-column align-items-center">
          <div class="title">123</div>
          <div class="desc">Total Fugitive Emission</div>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-lg-3 col-sm-12">
      <div class="card">
        <div class="card-body d-flex flex-column align-items-center">
          <div class="title">01m 22sec</div>
          <div class="desc">Total GHG Emission</div>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-lg-3 col-sm-12">
      <div class="card">
        <div class="card-body d-flex flex-column align-items-center">
          <div class="title"></div>
          <div class="desc">Archives</div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-lg-6 col-sm-12">
      <div class="d-flex flex-column align-items-center">Chart 1</div>
    </div>
    <div class="col-md-6 col-lg-6 col-sm-12">
      <div class="d-flex flex-column align-items-center">
        <!-- <div echarts [options]="options" class="chart"></div> -->
      </div>
    </div>
  </div>
</div>
