.main-card {
  border-radius: 0px;
  padding: 1rem;

  .card {
    background-color: #a7d697;
    margin-top: 1rem;

    .title {
      font-size: x-large;
      font-weight: 600;
    }

    .desc{
      font-size: large;
      font-weight: 600;
    }
  }

}
