<div class="container">
    <h3>Reset Password</h3>
    <p class="text-center">Please enter your email address to request a password reset.</p>
    <div class="formGroup">
        <input type="email" class="form-control" placeholder="Email Address" #passwordResetEmail required>
    </div>
    <!-- Calling ForgotPassword from AuthService Api -->
    <div class="formGroup text-center my-2">
        <button type="submit" class="btn btn-primary" value="Reset Password"
            (click)="authService.ForgotPassword(passwordResetEmail.value)">Reset Password</button>
    </div>

<div class="redirectToLogin text-center">
    <span>Go back to ? <button type="button" class="btn btn-danger" [routerLink]="['/']"
            routerLinkActive="router-link-active">Sign in</button></span>
</div>
</div>